/*///////////////////////////////////////fotos tienda///////////////////////////////////////*/

.foto1{
	background-image:url('imagenes/IMG_2684_edit_1024x1024.jpg'); 
}
.foto2{
	background-image:url('imagenes/IMG_3039_edit_1024x1024.jpg');  
}
.foto3{
	background-image:url('imagenes/IMG_3838_edit_1024x1024.jpg'); 
}
.foto4{
	background-image:url('imagenes/IMG_0931_edit_large.jpg');  
}
.foto5{
	background-image:url('imagenes/WN1A1581_copy_1024x1024.jpg'); 
}
.foto6{
	background-image:url('imagenes/IMG_2684_edit_1024x1024.jpg'); 
}


.foto7{
	background-image:url('imagenes/IMG_2684_edit_1024x1024.jpg'); 
}
.foto8{
	background-image:url('imagenes/IMG_3039_edit_1024x1024.jpg');  
}
.foto9{
	background-image:url('imagenes/IMG_3838_edit_1024x1024.jpg'); 
}
.foto10{
	background-image:url('imagenes/IMG_0931_edit_large.jpg');  
}
.foto11{
	background-image:url('imagenes/WN1A1581_copy_1024x1024.jpg'); 
}
.foto12{
	background-image:url('imagenes/IMG_2684_edit_1024x1024.jpg'); 
}


.foto13{
	background-image:url('imagenes/IMG_2684_edit_1024x1024.jpg'); 
}
.foto14{
	background-image:url('imagenes/IMG_3039_edit_1024x1024.jpg');  
}
.foto15{
	background-image:url('imagenes/IMG_3838_edit_1024x1024.jpg'); 
}
.foto16{
	background-image:url('imagenes/IMG_0931_edit_large.jpg');  
}
.foto17{
	background-image:url('imagenes/WN1A1581_copy_1024x1024.jpg'); 
}
.foto18{
	background-image:url('imagenes/IMG_2684_edit_1024x1024.jpg'); 
}



.foto19{
	background-image:url('imagenes/IMG_2684_edit_1024x1024.jpg'); 
}
.foto20{
	background-image:url('imagenes/IMG_3039_edit_1024x1024.jpg');  
}
.foto21{
	background-image:url('imagenes/IMG_3838_edit_1024x1024.jpg'); 
}
.foto22{
	background-image:url('imagenes/IMG_0931_edit_large.jpg');  
}
.foto23{
	background-image:url('imagenes/WN1A1581_copy_1024x1024.jpg'); 
}
.foto24{
	background-image:url('imagenes/IMG_2684_edit_1024x1024.jpg'); 
}


